<%= form_with(model: @workout) do |f| %>
  <%= f.hidden_field :workout_type_id %>

  <!-- Основные поля тренировки -->
  <div class="mb-4">
    <%= f.label :date, "Дата", class: 'form-label' %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>

  <!-- Упражнения (nested) -->
  <div id="workout-exercises">
    <%= render 'workout_exercise_fields', f: f, exercises: @exercises %>
  </div>

  <!-- Кнопки -->
  <div class="mt-4">
    <%= f.submit "Сохранить", class: 'btn btn-primary' %>
    <%= link_to "Назад", new_workout_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
